/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    font-size: inherit;
    clip-path: inset(0 100% 0 0);
    animation: l5 2s steps(11) infinite;
    color: inherit;
  }
  .loader:before {
    content:"Hold on..."
  }
  @keyframes l5 {to{clip-path: inset(0 -1ch 0 0)}}